<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="時代財金資訊股份有限公司" />
  <meta
    name="keywords"
    content="外匯總分行交易系統, 外匯, 衍生性金融商品, 銀行外匯議價系統, 風險管理"
  />

  <title>時代財金資訊</title>


  <!-- Favicons -->
  <link href="../static/images/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/time.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><span>時代財金資訊</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">首頁</a></li>
          <li><a class="nav-link scrollto" href="#about">公司簡介</a></li>
          <li><a class="nav-link scrollto" href="#features">產品解決方案</a></li>
          <li><a class="nav-link scrollto" href="#gallery">大記事</a></li>
          <li><a class="nav-link scrollto" href="#team">專業經理人</a></li>
          <li><a class="nav-link scrollto" href="#contact">聯絡方式</a></li>
          <li><a class="nav-link scrollto" href="">           </a></li>
          <li><a class="nav-link scrollto" href="">           </a></li>
          <li><a class="nav-link scrollto" href="">           </a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>「外匯匯利率自動掛牌系統」</h1>
            <h1 class="h1-large">「總分行外匯議價系統」</h1>
            <h1 class="h1-large">「整合即時資訊源運用」</h1>
            <h1 class="h1-large">「即時部位 mark to market」</h1>
            <p class="h4" style="color:yellow ;" >專業整合即時資訊源，完全自動化運算，金融機構前中後台整合運用 </p>
            <p class="h4" style="color:yellow ;">臺灣第一品牌</p>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="../static/images/logo_ModernTimes_341x75.jpg" class="img-fluid animated" alt="">
        <p></p>
        <p></p>
        <div class="text-center text-lg-start">
          <a href="#about" class="btn-get-started scrollto">公司簡介</a>
        </div>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3>科技在應用層面突破性的發展，資訊的傳遞從實體層次提升至數位型態展現，其快速、無遠弗屆的特色，使得全球疆界日益模糊、市場競爭愈發激烈。</h3>
            <p>資訊同步的壓力，促使金融機構必需提供更多元化、快速的專業服務內容及強化操作系統跨平台的整合機制，籍以達到「以知識基礎提升營運效益」的目標。</p>
            <p>開放的結果對金融產業而言，扭轉昔日，「賣方市場」的優勢，轉向「買方市場」靠攏</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a>完善、延展的系統特色</a></h4>
              <p class="description">『時代財金』擁有打造當前美國華爾街知名金融資訊系統的完整經驗，除了提供客戶最精簡、穩定、正確、即時的資訊內容外，亦可針對當地市場的獨特生態，提供適合本土並且能與國際脈動接軌的解決方案，不需遷就即有系統所產生的不適切性及額外支出的人力及維護成本，並可依使用單位每一階段的需求進行機動調整。</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a>客戶導向的服務機制</a></h4>
              <p class="description">最佳的金融資訊產品除了提供專業、穩定的系統機制與內容之外，『時代財金』所有的團隊成員亦以"客戶滿意導向"為其終極的努力目標；我們不僅提供系統監控、預警處理、障礙排除及協詢機制的各項服務，更以積極的態度，與客戶建立綿密而完善的溝通管道，掌握市場變化，不斷的主動提供最適切的服務內容，協助營業單位成為創造獲利的最佳推手</p>
            </div>
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a>成功的經驗根植於人性化的需求與科技應用的落實</a></h4>
              <p class="description">在瞬息萬變的競爭市場下，『時代財金』絕對是尋求致勝關鍵的最佳選擇</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>產品</h2>
          <p>Check The Products</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-4 col-md-5">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="#001">外匯即時資訊系統</a></h3>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-5 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="#002">IRS　利率工作站</a></h3>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-5 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="#003">MOPS　行動業務支援系統</a></h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="#004">PMS　部位管理系統</a></h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="#005">EBTS 債券等殖成交系統</a></h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="#006">WMM 人民幣固定收益理財產品資產管理系統</a></h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="#007">BDS 人民幣代客理財交易與管理系統</a></h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="#008">ADD-on 人民幣資金管理模組</a></h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="#009">外匯總分行議價系統 III IV V</a></h3>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Features Section -->
   
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content" id="001">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4" data-aos="fade-right" >
            <img src="assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>
              外匯即時資訊系統 WebStation
            </h3>
            <p class="fst-italic">
              已發展至第五代外匯工作站，可支援瀏覽器 Web，提供銀行多樣化系統需求。
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 完總全整合外匯業務之上、中、下游，並可延展至其他金融商品，成為全行的資料傳遞與交易樞紐。</li>
              <li><i class="bi bi-check"></i> 可客製化畫面，符合實務上的需求。</li>
              <li><i class="bi bi-check"></i> 節省銀行成本，可取代資訊源單機。</li>
              <li><i class="bi bi-check"></i> 本土化的中文介面設計，符合金融從業人員系統操作習慣。。</li>
              <li><i class="bi bi-check"></i> 開放的系統架構延展特色，可依使用單位各階段發展需求，同時亦提供各式加值功能，易與其它電腦系統銜接。</li>
              <li><i class="bi bi-check"></i> 與前台作業系統整合，資訊來源一致，減少作業單位於各平台間可能產生的誤差、損失。</li>
              <li><i class="bi bi-check"></i> 即時資訊採隨取隨傳模式進行傳輸，降低網路頻寬負載。</li>
            </ul>
            <p>
              多重傋援及安控機制，資訊傳遞安全無慮。
            </p>
          </div>
        </div>

        <div class="row content" id="002">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details-2.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>利率工作站</h3>
            <p class="fst-italic">
              Interest Rate Station
            </p>
            <p>
              此產品為本公司與香港商德勵財富資訊(Telerate)所共同推出，為一固定收益金融商品資訊與報價平台。除Telerate資訊外，更提供台灣票券集保公司與櫃檯買賣中心交易資訊。此外，本產品亦提供以下功能：
            </p>
            <p>
              對交易資料不僅止於資料的顯示，更提供各種統計分析與圖表，讓資料真正變成有用的資訊。
            </p>
            <p>
              提供即時政府公債報價，包含上下最佳六檔報價及存續期間之計算。並提供殖利率曲線資料與圖形查詢。
            </p>
            <p>
              提供債券選擇權報價平台，讓市場參與者可在系統上輸入報價，且提供與 Microsoft Excel交換資料功能，使用者甚至可利用Excel進行報價。。
            </p>
            <p>
              並提供債券選擇權分析工具，可計算理論價格、波動度、希臘字母(The Greek Letters)等，以作為使用者於交易時的決策參考
            </p>
            <p>
              提供TAIBOR、IRS、CCS與銀行擔保FRCP等商品使用者報價功能。
            </p>
          </div>
        </div>

        <div class="row content" id="003">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>行動業務支援系統</h3>
            <p>Mobile Order Processing System</p>
            <ul>
              <li><i class="bi bi-check"></i> 全方位市場零售點行銷利器。</li>
              <li><i class="bi bi-check"></i> 行動APP PDA，業務員可以將業務助理帶著走，下單、點貨、收集資料、產品簡介、通通搞定。</li>
              <li><i class="bi bi-check"></i> 與 ERP 系統整合，所有的進、銷、存資料與市場需求完全掌握。</li>
            </ul>
            <p>
              Web
                                                介面作為辦公室主管與後勤人員的工作平台，不受地點的限制，隨時可查看業務執行狀況，安排業務行程，即時傳遞產品訊息。
            </p>
            <p>
              有效銷售方式，可以整合各式通路商，適用於各式產品。
            </p>
          </div>
        </div>

        <div class="row content" id="004">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>部位管理系統</h3>
            <p class="fst-italic">
              Postion Management System
            </p>
            <p>
              全方位市場零售點行銷利器
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 行動PDA，業務員可以將業務助理帶著走，下單、點貨、收集資料、產品簡介、通通搞定</li>
              <li><i class="bi bi-check"></i> 與 ERP 系統整合，所有的進、銷、存資料與市場需求完全掌握</li>
              <li><i class="bi bi-check"></i> Web介面作為辦公室主管與後勤人員的工作平台，不受地點的限制，隨時可查看業務執行狀況，安排業務行程，即時傳遞產品訊息</li>
              <li><i class="bi bi-check"></i> 有效銷售方式，可以整合各式通路商，適用於各式產品</li>
            </ul>
          </div>
        </div>

        <div class="row content" id="005">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>債券等殖成交系統</h3>
            <p>Electronic Bond Trading System</p>
            <ul>
              <li><i class="bi bi-check"></i> 取代傳統電話議價，提升議價成交效率</li>
              <li><i class="bi bi-check"></i> 交易資訊公開透明、即時揭露，有利建立指標利率</li>
              <li><i class="bi bi-check"></i> 依照短、中、長期利率指標，推估各年期合理利率水準，可建立完整的殖利率曲線(YieldCurve)。</li>
              <li><i class="bi bi-check"></i> 供淨額結算機制，可減輕自營商資金調度壓力、預防管理死角及避免結算交割糾紛</li>
              <li><i class="bi bi-check"></i> 提升交割效率與維持次級零售市場流動性/li>
              <li><i class="bi bi-check"></i> 嚴謹的風險控管措施配合運作，促使違約交割之整體影響與系統風險降至最低</li>
            </ul>

          </div>
        </div>

        <div class="row content" id="006">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>人民幣固定收益理財產品資產管理系統</h3>
            <p class="fst-italic">
              Wealth Management Modul
            </p>
            <p>
              依照理財產品定義投資組合，逐個理財產品獨立管理
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 彈性化的交易輸入來源：可逐筆輸入、Excel匯入或自外匯交易中心成交回報電子檔直接導入</li>
              <li><i class="bi bi-check"></i> 可透過自定義收益率曲線、中債數據及自設價格進行資產估值</li>
              <li><i class="bi bi-check"></i> 提供以現金流角度分析的資產負債管理、投資模擬與收益差額分析工具</li>
              <li><i class="bi bi-check"></i> 進行期望收益率與承諾客戶的收益率比較</li>
              <li><i class="bi bi-check"></i> 提供損益匯總分析、投資報酬率匯總分析</li>
              <li><i class="bi bi-check"></i> 提供公允價格、利率法及平均成本法三種計算原則進行損益分析</li>
              <li><i class="bi bi-check"></i> 提供投資組合風險PVBP、VaR分析及測算資產價值變動壓力測試</li>
            </ul>
          </div>
        </div>


        <div class="row content" id="007">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>人民幣代客理財交易與管理系統</h3>
            <p>Bond Delivery System</p>
            <ul>
              <li><i class="bi bi-check"></i> 採雙交易中心、四層式客戶架構電子化報價、詢價交易平台</li>
              <li><i class="bi bi-check"></i> 提供現券、回購、理財商品及債券分銷等多項品種交易</li>
              <li><i class="bi bi-check"></i> 提供交易限額管理、佣金計算、持倉狀況及到期提示</li>
              <li><i class="bi bi-check"></i> 提供交易記錄、合同打印及自動完成電子簽章</li>
              <li><i class="bi bi-check"></i> 各項收益實時評估及頭寸風險管理</li>
              <li><i class="bi bi-check"></i> 透過電子化報價與交易平台可大幅改善交易效率、強化風險管理，並透過收益模擬與計算保證交易的收益性</li>
            </ul>

          </div>
        </div>

        <div class="row content" id="008">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="assets/img/details-4.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>人民幣資金管理模組</h3>
            <p class="fst-italic">
              Add-On
            </p>
            <p>
              依照理財產品定義投資組合，逐個理財產品獨立管理
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 系統設計、建置均符合銀監會管理規範（商業行市場風險管理指引）</li>
              <li><i class="bi bi-check"></i> 提供前台（含債券及貨幣市場）交易輸入、績效管理及每日採用國債公司理論價格做Marktomarket處理</li>
              <li><i class="bi bi-check"></i> 提供中台市場收益率、久期及風險分析模組</li>
              <li><i class="bi bi-check"></i> 提供後台資金成本設置及頭寸（含交易帳戶及投資帳戶）現金流損益分析工具</li>
              <li><i class="bi bi-check"></i> 提提供利率風險PVBP、VaR分析及測算資產價值變動壓力測試</li>
            </ul>
          </div>
        </div>


        <div class="row content" id="009">
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <P></P>
          <div class="col-md-4" data-aos="fade-right">
            <img src="assets/img/details-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>外匯總分行議價系統</h3>
            <p>Branch Dealing System</p>
            <ul>
              <li><i class="bi bi-check"></i> 即時結合外匯資訊源(譬如Reuters)，自動化計算銀行外匯掛牌與成本</li>
              <li><i class="bi bi-check"></i> 總、分行議價電子化；排除傳統作業的不確定因素，包括：電話語意誤會、雍塞、漏接；人工作業耗時易錯</li>
              <li><i class="bi bi-check"></i> 系統發展至第五代，深度解決銀行外匯交易的盲點</li>
              <li><i class="bi bi-check"></i> 全行掛牌與市場即時資訊連動，管理者可依市場狀況，內部規則，靈活制定掛牌策略，對內達到資訊統一與效率增進，對外可以完全掌握市場先機</li>
              <li><i class="bi bi-check"></i> 分行可以掌控即時部位以及損益，做最適當的拋補；總行可以即時與風控系統連線，全行部位可立即反應</li>
              <li><i class="bi bi-check"></i> 系統可幫助總行外匯交易員集中火力，將精力用在最佳收益的工作，例如：交易先後次序可以自由選擇、每筆線上交易時間，可以在有效時間內完成、小額交易可由系統自動完成拋補、單一交易員同時與多個分行對口進行議價、隨時查詢成交記錄與掛牌歷史資訊等</li>
              <li><i class="bi bi-check"></i> 提供交易逐筆詢價功能，讓每筆交易都能跟得上市場脈動</li>
              <li><i class="bi bi-check"></i> 更強健的風險控管機制，包含即額度控管，可區分幣別、交易時段、客戶別、交易員級別等</li>
              <li><i class="bi bi-check"></i> 提供交易逐筆詢價功能，讓每筆交易都能跟得上市場脈動</li>
              <li><i class="bi bi-check"></i> 提供FX SWAP及NDF交易與即時部位監控、評價損益功能，讓衍生性金融商品的交易與控管更便利</li>
              <li><i class="bi bi-check"></i> 優秀的使用者介面使得操作更加便利與人性化</li>
            </ul>
          </div>
        </div>
     </div>
    </section><!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>大記事</h2>
          <p>時代財金發展歷程 </p>
        </div>

        <div class="main-timeline">

          <!-- start experience section-->
          <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                  <div class="date-outer">
                      <span class="date">
                          <span class="month">1 Years</span>
                          <span class="year">2021</span>
                      </span>
                  </div>
              </div>


              <div class="timeline-content">
                  <h5 class="title">2021</h5>
                  <p class="description">
                  <ul class="timeline-panel-ul">
                      <li>新光銀行外匯總分行議價系統上線。</li>
                      <li>彰化銀行替代利率專案。</li>
                      <li>華南銀行LIBOR退場之第一階段替代利率上線。</li>
                      <li>兆豐銀行LIBOR之替代利率上線。</li>
                      <li>臺灣銀行LIBOR退場之替代利率上線。</li>
                      <li>華南銀行新增OFSA報價利率專案系統建置。</li>
                      <li>華南銀後行台資料傳輸應用系統上線(MQ)。</li>
                      <li>臺灣銀行路透系統擴充案。</li>
                      <li>土地銀行外匯總分行議價系統升級案。</li>
                      <li>兆豐銀行換匯交易。</li>
                      <li>兆豐銀行營業內牌告監控。</li>
                  </ul>
                  </p>
              </div>
          </div>
          <!-- end experience section-->

          <!-- start experience section-->
          <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                  <div class="date-outer">
                      <span class="date">
                          <span class="month">1 Years</span>
                          <span class="year">2020</span>
                      </span>
                  </div>
              </div>
              <div class="timeline-content">
                  <h5 class="title">2020</h5>
                  <p class="description">
                  <ul class="timeline-panel-ul">
                      <li>土地銀行議價系統新增異常日處理。</li>
                      <li>中國信託BTSS提升專案。</li>
                      <li>兆豐銀行資料庫提升專案。</li>
                      <li>兆豐銀行OBU授信目的帳戶央行申報。</li>
                      <li>兆豐銀行外匯牌告成本價檢查機制。</li>
                      <li>華南銀行增加人民幣CNH遠匯固定天期牌告成本報價專案。</li>
                  </ul>
                  </p>
              </div>
          </div>
          <!-- end experience section-->

          <!-- start experience section-->
          <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                  <div class="date-outer">
                      <span class="date">
                          <span class="month">19 Years</span>
                          <span class="year">before 2019</span>
                      </span>
                  </div>
              </div>
              <div class="timeline-content">
                  <h5 class="title">before 2019</h5>
                  <p class="description">
                  <ul class="timeline-panel-ul">
                      <li>第一銀行匯率報價增修覆核機制功能。</li>
                      <li>華南銀行外匯匯利率自動掛牌系統無本金遠匯清算匯率模組上線。</li>
                      <li>兆豐銀行WebStation掛單處理模組上線。</li>
                      <li>中國信託Branch Treasury Settlement System上線。</li>
                      <li>花旗(台灣)銀行WebStation人民幣處理模組上線。</li>
                      <li>中國信託理財(衍生性金融商品)交易及後台系統增修功能上線。</li>
                      <li>臺灣銀行第二階段後台資料傳輸應用系統上線。
                      <li>兆豐銀行WebStation換匯交易處理模組上線。</li>
                      <li>兆豐銀行WebStation Summit介面模組上線。</li>
                      <li>兆豐銀行WebStation MQ介面模組上線。</li>
                      <li>臺灣銀行第一階段分行即時資訊查詢系統 上線。</li>
                      <li>台灣中小企銀WebStation人民幣處理模組上線。</li>
                      <li>華南銀行外匯匯利率自動掛牌系統定存成本利率模組上線。</li>
                      <li>華南銀行外匯匯利率自動掛牌系統無本金遠匯成本利率模組上線。</li>
                      <li>兆豐銀行總分行議價系統。</li>
                      <li>第一銀行自動外匯掛牌系統。</li>
                      <li>台灣中小企銀自動外匯掛牌系統。</li>
                      <li>華南銀行外匯匯利率自動掛牌系統。</li>
                      <li>土地銀行外匯總分行議價系統。</li>
                      <li>華僑銀行與花旗(臺灣)銀行合併，WebStationIII系統功能調整。</li>
                      <li>臺灣中小企銀WebStation清算匯率自動報價模組上線。</li>
                      <li>兆豐銀行WebStation總分行外匯 議價系統功能提升。</li>
                      <li>兆豐銀行分行間抛補模組功能上線。</li>
                      <li>中國信託理財(衍生性金融商品)交易及後台系統上線。</li>
                      <li>兆豐-中國國際商業銀行與交通銀行WebStation交易系統合併 。</li>
                      <li>華南銀行WebStation自動掛牌模組上線。</li>
                      <li>中國信託債券後台管理系統第二階段上線。</li>
                      <li>中國信託港幣敲價模組上線。</li>
                      <li>華南銀行簽約採用WebStation自動掛牌模組。</li>
                      <li>彰化銀行簽約升級WebStationII至WebStationIV。</li>
                      <li>第一銀行WebStationII OBU自動掛牌模組上線。</li>
                      <li>人民幣債券分析工具上線。</li>
                      <li>交通銀行總分行外匯議價系統。</li>
                      <li>......等等。</li>

                  </ul>
                  </p>
              </div>
          </div>


        </div>

  </div>
  <!--公司歷史end-->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>專案經理人</h2>
          <p>仲躋明 Mr. Jimmy Joong</p>
        </div>

        <p class="lead">仲躋明（Mr. Jimmy
          Joong）先生是時代財金公司的核心技術資產，亦是少數能夠結合技術與財金專業知識，靈活運用，以提供實際應用為主的人才。仲先生除擁有過人的專才外，更具有無比堅定的信念（faith）、熱忱（enthusiasm）、和意志力（persistence）。
        </p>
        <p class="lead">
          超過二十年在華爾街財經界專業領域的耕耘，仲先生不僅累積了在技術層面的實務資歷，更因為對於金融產業的深入了解，往往使得他能夠洞察形勢，提綱挈領，作出具體可行的經營模式建議，創造無限的商機。因此，仲先生回國成立『時代財金』，即是希望能以其親身經歷：包括在Bloomberg草創期間加入參與；歷經最初美國的債券市場引用其資訊技術的發展，貢獻給亞太地區的業者，並且親身參與締造適地性的財金資訊系統的新領域。
        </p>

       <div class="col-md-8 pt-5" data-aos="fade-up">
        <ul>
          <li> 1999 返國創立『時代財金資訊股份有限公司』</li><p></p>
          <li> 1997 美國Bigfoot Inc.技術長（CTO）</li><p></p>
          <li> 1982 彭博商業資訊公司（Bloomberg Inc.）合夥人，並於任職期間領導開發團隊，成功開發出：
            <br>美林證券（Merrill Lynch）固定收益投資及部位控管系統 （Fixed income investment dealing system）。
            <br>訊息系統（Message System）。
            <br>個人網路理財系統（Personal, and Internet-based financial information system）。
            <br>大型資料庫設計及整合。
          </li><p></p>
          <li> 1979 所羅門兄弟證券公司（Salomon Brothers Inc.）專案經理</li><p></p>
          <li> 1978 進入由目前擔任美國聯邦儲備銀行主席－艾倫．葛林斯班（Alan Greenspan）先生所主持的顧問公司，負責電腦系統</li>
          <p></p>
        </ul>
      </div>
    </section><!-- End Team Section -->

 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>聯絡方式</h2>
          <p>contact</p>
        </div>

          <!--聯絡我們start-->
          <div class="starter-template background-eee" id="contact1"></div>
          <div class="jumbotron contact">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <!--只顯示半面-->
                          <h1 id="contact1">聯絡我們</h1>
                          <!--大標題-->
                          <p>
                              歡迎利用電子郵件或在服務時間內以電話與我們取得連繫，我們將非常樂意提供相關產品的進一步介紹，謝謝!
                          </p>
                          <p><span class="glyphicon glyphicon-th-large"></span> 時代財金資訊股份有限公司
                          </p>
                          <p><span class="glyphicon glyphicon-home"></span> 台北市大安區羅斯福路三段29號12樓
                          </p>
                          <p>
                              <abbr title="TEL" class="initialism"><span class="glyphicon glyphicon-earphone"></span>
                              </abbr> (02)2363-0568 #707、#710 客戶服務部門 CustomerSupport@moderntimes.com.tw
                          </p>
                          <p>
                              <abbr title="TEL" class="initialism"><span class="glyphicon glyphicon-earphone"></span>
                              </abbr> (02)2363-0568 #104 業務行銷部門 rock@moderntimes.com.tw
                          </p>
                          <p>
                          <p>
                              <abbr title="FAX" class="initialism"><span class="glyphicon glyphicon-file"></span>
                              </abbr> FAX: (02)2362-7218
                          </p>
                          <p><span class="glyphicon glyphicon-time"></span> 8:30AM－6:00PM　星期一至星期五
                          <p><a class="btn btn-primary btn-lg" role="button"
                                  href="mailto:CustomerSupport@moderntimes.com.tw">客戶服務聯絡</a>
                          <p><a class="btn btn-primary btn-lg" role="button"
                                  href="mailto:rock@moderntimes.com.tw">業務服務聯絡</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--聯絡我們end-->

      <!--公司版權start-->
      <section id="footer">
          <div class="container">
              <h6>Copyright© 2015 ModernTimes Financial Information Co., Ltd. All rights reserved.</h6>
          </div>
      </section>
      <!--公司版權end-->





  </main><!-- End #main -->

  

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>