<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="時代財金資訊股份有限公司" />
    <meta
      name="keywords"
      content="外匯總分行交易系統, 外匯, 衍生性金融商品, 銀行外匯議價系統, 風險管理"
    />

    <title>時代財金資訊</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    
    <!-- Favicons -->
  <link href="../staic/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../staic/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../staic/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../staic/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../staic/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../staic/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../staic/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../staic/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../staic/assets/css/style.css" rel="stylesheet">
    
    
    
    
    <link href="../static/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="../static/images/favicon.ico" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top d-flex align-items-center header-transparent"
    >
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1>
            <a href="index.html"><span>時代財金資訊 ModernTimes</span></a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="#hero">公司簡介</a>
            </li>
            <li><a class="nav-link scrollto" href="#about">品質</a></li>
            <li><a class="nav-link scrollto" href="#features">大記事</a></li>
            <li><a class="nav-link scrollto" href="#gallery">專業經理人</a></li>
            <li><a class="nav-link scrollto" href="#team">解決方案產品</a></li>
            <li><a class="nav-link scrollto" href="#pricing">聯絡方式</a></li>
            <li><a class="nav-link scrollto" href="#contact"> </a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
    <!-- Uncomment below if you prefer to use an image logo
    <nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html">時代財金資訊 MODERNTIMES</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index.html"
              >首頁</a
            >
            <a class="nav-link" href="#about">公司簡介</a>
            <a class="nav-link" href="#qu">品質</a>
            <a class="nav-link" href="#milestone">大記事</a>
            <a class="nav-link" href="#manager">專業經理人</a>
            <a class="nav-link" href="#solutions">解決方案產品</a>
            <a class="nav-link" href="#contact">聯絡方式</a>
            <a class="nav-link" href="#login"> </a>
          </div>
        </div>
      </div>
    </nav>
 -->

    <div class="header">
      <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="text-container">
              <h1 class="h1-large">「外匯匯利率掛牌系統」</h1>
              <h1 class="h1-large">「總分行外匯議價系統」</h1>
              <h1 class="h1-large">「整合即時資訊源運用」</h1>
              <h1 class="h1-large">「即時部位 mark to market」</h1>
              <p class="p-large">
                專業整合即時資訊源，完全自動化運算，金融機構前中後台整合運用
              </p>
              <p class="p-large">臺灣第一品牌</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-container">
              <img
                src="../static/images/ModernTimes1_341x75.png"
                alt="時代財金資訊"
                class="d-inline-block align-text-top"
              />
              <a class="btn-solid-lg page-scroll" href="#about">公司簡介</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--公司簡介start-->
    <div class="starter-template" id="about">
      <div class="container">
        <h1 class="text-center"><strong>公司簡介</strong></h1>
        <!--大標題-->
        <p class="lead">
          科技在應用層面突破性的發展，資訊的傳遞從實體層次提升至以數位型態展現，其快速、無遠弗屆的特色，不僅使得全球疆界日益模糊、市場競爭愈發激烈，開放的結果對金融產業而言，亦扭轉昔日
          "賣方市場"的優勢，轉向"買方市場"靠攏，其資訊同步的壓力，促使金融機構必需提供更多元化、快速的專業服務內容及強化操作系統跨平台的整合機制，籍以達到"以知識基礎提升營運效益"
          的目標。
        </p>
        <!--分兩欄區-->
        <div class="row">
          <div class="col-lg-6">
            <!--插圖1-->
            <div class="text-center">
              <img
                src="../static/images/feture.jpg"
                alt="feture"
                style="width: 140px; height: 140px"
              />
            </div>
            <h3 class="text-center"><strong>完善、延展的系統特色</strong></h3>
            <p class="lead">
              『時代財金』擁有打造當前美國華爾街知名金融資訊系統的完整經驗，除了提供客戶最精簡、穩定、正確、即時的資訊內容外，亦可針對當地市場的獨特生態，提供適合本土並且能與國際脈動接軌的解決方案，不需遷就即有系統所產生的不適切性及額外支出的人力及維護成本，並可依使用單位每一階段的需求進行機動調整。
            </p>
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <!--插圖2-->
            <div class="text-center">
              <img
                src="../static/images/users.jpg"
                alt="Generic placeholder image"
                style="width: 140px; height: 140px"
              />
            </div>
            <h3 class="text-center"><strong>客戶導向的服務機制</strong></h3>
            <p class="lead">
              最佳的金融資訊產品除了提供專業、穩定的系統機制與內容之外，『時代財金』所有的團隊成員亦以"客戶滿意導向"為其終極的努力目標；我們不僅提供系統監控、預警處理、障礙排除及協詢機制的各項服務，更以積極的態度，與客戶建立綿密而完善的溝通管道，掌握市場變化，不斷的主動提供最適切的服務內容，協助營業單位成為創造獲利的最佳推手。
            </p>
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <p></p>
        <p></p>
        <p class="lead">
          成功的經驗根植於人性化的需求與科技應用的落實，在瞬息萬變的競爭市場下，『時代財金』絕對是尋求致勝關鍵的最佳選擇。
        </p>
      </div>
    </div>
    <!--公司簡介end-->

    <div class="starter-template" id="qu">
      <h1 class="text-center"><strong>品質</strong></h1>
    </div>

    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/images/banner1.jpg" class="d-block w-100" alt="" />
          <div class="carousel-caption">
            <!--顯示內文-->
            <!--高亮度顯示標題-->
            <h1 class="carousel-title carousel-title-highlight">
              值得信賴的金融資訊系統
            </h1>
            <!--一般標題-->
            <h1 class="carousel-title">
              完善且延展的系統特色提供符合您需求的系統
            </h1>
            <!--說明-->
            <p class="carousel-text">
              提供客戶最精簡、穩定、正確、即時的資訊內容。提供在地化且能與國際脈動接軌的解決方案。
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/images/banner2.jpg" class="d-block w-100" alt="" />
          <div class="container">
            <div class="carousel-caption">
              <h1 class="carousel-title carousel-title-highlight">
                值得信賴的金融資訊系統
              </h1>
              <h1 class="carousel-title">
                為您整合前中後台資訊串流使企業系統更為完整
              </h1>
              <p class="carousel-text">
                提供更多元化、快速的專業服務內容及強化操作系統跨平台的整合機制。
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="static/images/banner3.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption">
              <h1 class="carousel-title carousel-title-highlight">
                值得信賴的金融資訊系統
              </h1>
              <h1 class="carousel-title">
                以積極的態度面對客戶建立綿密而完善的溝通管道
              </h1>
              <p class="carousel-text">
                所有的團隊成員以"客戶滿意導向"為其終極的努力目標。
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
